@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');
/* .adminContainer{
    background-color: #E6E6E6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 40px auto;
    height: 650px;
} */

.adminName{
    font-family: 'Geologica', sans-serif;
    /* font-family: 'Titan One', cursive; */
    margin-bottom: 40px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminPageBtn{
    color: white;
    background-color: #F8B21A;
    border-radius: 30px;
    width: 425px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.adminSearchBar{
    display: flex;
    justify-content: space-between;
    border-radius: 45px;
    /* height: 50px; */
    max-width: 720px;
    width: 60vw;
    margin: 30px auto;
    background-color: #F8B21A;
    /* margin-top: 40px; */
}

.adminsearchBtn{
    border: none;
    border-radius: 45px;
    width: 40px;
    height: 40px;
    margin: 5px;
}

#adminSearchInput{
    border: none;
    height: 40px;
    max-width: 600px;
    width: 35vw;
    margin: auto;
    border-radius: 45px;
    padding: 0px 15px;
    /* background-color: #E6E6E6; */
    font-size: 20px;
}

.searchBtn:hover{
    cursor: pointer;
}

#addBookBtn{
    background-color: #C47A79;
}

#checkBtn{
    background-color: #B99E3D;
}

#databaseBtn{
    background-color: #5A7D62;
}