.dropdown-menus {
    list-style: none;
    max-width: 100%;
}

details{
    padding-top: 10px;
    margin-bottom: 10px;
}

/* 5A7D62
C57979
B99E3E
EAEAEA */
summary{
    padding: 10px;
    background-color: #F8B21A;
    /* border: 2px solid #F8B21A; */
    border-radius: 5px;
    color: white;
}
summary:hover{
    background-color: #F8B21A;
}

.dropdown-menus li {
    background: white;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    color:#F8B21A;
    /* border: 2px solid black; */
    /* border-radius: 5px; */
}

.dropdown-menus li:hover {
    background: #ffefcd;
}