@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');

.databaseBtn{
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: 100px;
    font-family: 'Geologica', sans-serif;
    color: white;
    cursor: pointer;
}

#editBtn{
    margin-top:15px;
    background-color: #ffae00;
}

#editBtn:hover{
    background-color: #ffc23d;
}

#delBtn{
    background-color: #ca514f;
}

#delBtn:hover{
    background-color: #ea6967;
}

.Contents input[type="title"] {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 24px;
    color: black;
    font-weight: bold;
    padding: 4px;
    transition: border-bottom-color 0.3s ease;
}

.Contents input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    color: black; 
    padding: 4px;
    transition: border-bottom-color 0.3s ease;
}
  
.Contents input[type="title"]:focus {
    border-bottom-color: #161616;
    color: #161616;
}