.dropdown-menu {
    list-style: none;
    align-items: flex-end;
    position: fixed;
    right: 0;
    left: auto;
    max-width: 100%;
    padding-right:10px;
}

.dropdown-menu li {
    background: #C47A79;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    color:white;
    border-radius: 5px;
}

.dropdown-menu li:hover {
    background: #eca4a3;
}

.dropdown-menu.clicked {
    display: none;
}


.displayname {
    font-size: 18px;
    color: #333;
  }

/* #logoutBtn{
    background-color: ;
} */