p{
    font-size: large;
}

.container{
padding: 2%;
}

.carousel{
    background-color: black;
    width: 80vw;
    max-width: 1000px;
    /* height: 30vh; */
    height: 350px;
    margin: auto;
}

.searchBar{
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    border-radius: 45px;
    height: 50px;
    max-width: 900px;
    width: 60vw;
    margin: 10px auto;
    /* padding: 5px; */
}

.searchBar p{
    padding-left: 15px;
    /* text-align: center; */
    vertical-align: top;
}

#searchInput{
    border: none;
    height: 40px;
    max-width: 600px;
    width: 35vw;
    margin: auto;
    border-radius: 45px;
    padding: 0px 15px;
}

.searchBtn{
    border: none;
    border-radius: 45px;
    /* height: 30px; */
    width: 40px;
    height: 40px;
    margin: 5px;
}

.newsBlog{
    display: flex;
    flex-direction: row;
    color: white;
    height: 212px;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

#news{
    background-color: #C57979;
    border-radius: 45px;
    width: 425px;
    margin-right: 45px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#blog{
    background-color: #5A7D62;
    border-radius: 45px;
    width: 425px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoBtn{
    margin: 8px;
}

#newCollections{
    background-color: #B99E3E;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: white;
    width: 1000px;
    margin-top: 20px;
    /* text-decoration: none; */
}
