.top{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 20px black;
    position: relative;
}
.bottom{
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 20px black;
}

.profile{
    padding: 20px 20px;
    border: none;
    background-color: white;
}

.logo{
    padding: 0px 20px;
}

.button{
    padding: 5px 20px;
    cursor: pointer;
}

.button:hover{
    background-color: #EAEAEA;
    /* border-radius: 50px; */
}

.profile_bar{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right:10px;
    font-size: 20px;
    font-weight: 400;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }